{% extends "base.html.twig" %}

{% block body %}
    <div class="coll-md-3 offset-md-3">
        <h1>
            {{ record.header }}
        </h1>
        <p>
            {{ record.content }}
        </p>
    </div>
{% endblock %}